<!DOCTYPE html>
<html lang="en">

<head>
    {{>link_css}}
</head>

<body class="g-sidenav-show   bg-gray-100">


    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>

    <div class="min-height-300 bg-primary position-absolute w-100"></div>
    <aside
        class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 "
        id="sidenav-main">
        {{>nav_home}}
    </aside>
    <main class="main-content position-relative border-radius-lg ">

        <div>
            {{>nav_products2}}
        </div>

        <div class="container-fluid py-4">
            <div class="row">

                {{!-- <div class="col-lg-6 text-right d-flex flex-column justify-content-center">
                    <button type="button"
                        class="btn btn-outline-white mb-0 ms-lg-auto me-lg-0 me-auto mt-lg-0 mt-2">Save</button>
                </div> --}}
            </div>
            <div class="row mt-4">
                <div class="col-lg-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="font-weight-bolder">Product Image</h5>
                            <div class="row">
                                <div class="col-12">
                                    <img class="w-100 border-radius-lg shadow-lg mt-3" src="./assets/img/concha.png"
                                        alt="product_image">

                                </div>
                                <div class="col-12 mt-5">
                                    <div class="d-block justify-content-center">

                                        <form action="enviar.php" method="post" enctype="multipart/form-data"
                                            class="mb-3">
                                            <div class="form-group">
                                                <label for="archivo" class="form-label">Seleccionar archivo</label>
                                                <input type="file" class="form-control" id="archivo" name="archivo">
                                            </div>
                                            <div class="col-12 d-flex justify-content-between">
                                                <button type="submit" class="btn btn-primary btn-sm">Enviar
                                                    archivo</button>
                                                <button class="btn btn-outline-dark btn-sm " type="button"
                                                    name="button">Eliminar</button>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 mt-lg-0 mt-4">
                    <div class="card">
                        <div class="card-body">
                            <form class=" was-validated" id="formulario">
                                <div class="d-flex justify-content-lg-between mb-4">
                                    <h5 class="font-weight-bolder">Agregar producto</h5>
                                    <button type="button" class="btn  btn-primary btn-sm mb-0" novalidate
                                        onclick="enviar()"> +&nbsp; Guardar</button>
                                    <script>
                                        const enviar = (() => {
                                            setTimeout(() => {
                                                window.location.href = 'product';

                                            }, 1500);
                                        })

                                    </script>
                                </div>
                                <div class="row ">
                                    <div class="col-12 col-sm-6 ">
                                        <div class="form-group ">
                                            <label class="form-control-label" for="input-username">Nombre de
                                                producto</label>
                                            <input type="text" class="form-control" pattern="^[a-zA-Záéíóúñ ]+$"
                                                placeholder="Nombre del producto">
                                            <div class="valid-feedback ">

                                            </div>
                                            <div class="invalid-feedback">
                                                Dato no válido.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                        <label>Precio</label>
                                        <input class="form-control" type="number" value="2000" />
                                    </div>
                                </div>

                                <div class="row mb-4">
                                    <div class="row text-center mx-auto">
                                        <div class="col-lg-3">
                                            <div class="form-group" pattern="[a-zA-Z]">
                                                <label for=" exampleDataList"
                                                    class="form-control-label">Insumos</label>
                                                <input class="form-control " list="adicion" id="exampleDataList"
                                                    placeholder="Adición">
                                                <datalist id="adicion">
                                                    <option value="Barquillo">
                                                    <option value="Fresa">
                                                    <option value="Cereza">
                                                    <option value="vaso">
                                                    <option value="Queso">
                                                </datalist>
                                                <div class="valid-feedback">

                                                </div>
                                                <div class="invalid-feedback">
                                                    El dado no es válido.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-username">Cantidad</label>
                                                <input type="number" class=" form-control" id="username" required
                                                    min="1" max="10" placeholder="cantidad" value="1">
                                                <div class="valid-feedback">
                                                </div>
                                                <div class="invalid-feedback">
                                                    La cantidad no es correcta.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group" pattern="[a-zA-Z]">
                                                <label for=" exampleDataList" class="form-control-label">Medida</label>
                                                <input class="form-control " list="medida" id="exampleDataList"
                                                    placeholder="Medida">
                                                <datalist id="medida">
                                                    <option value="Und">
                                                    <option value="gr">
                                                </datalist>
                                                <div class="valid-feedback">

                                                </div>
                                                <div class="invalid-feedback">
                                                    El dado no es válido.
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group col-lg-3 mx-auto my-auto ">
                                            <button class="btn btn-info w-100 mt-4 btn-sm" type="button">
                                                <span class="btn-inner--icon">Añadir<i
                                                        class="bi bi-plus-lg mx-2"></i></span>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">

                                    <div class="row text-center mx-auto">
                                        <h6>Datos detallados</h6>
                                        <div class="col-lg-6">
                                            <div class="form-group" pattern="[a-zA-Z]">
                                                <label for=" exampleDataList" class="form-control-label">Categoria</label>
                                                <input class="form-control " list="categoria" id="exampleDataList"
                                                    placeholder="categoría">
                                                <datalist id="categoria">
                                                    <option value="Salpicón">
                                                    <option value="Copa">
                                                </datalist>
                                                <div class="valid-feedback">

                                                </div>
                                                <div class="invalid-feedback">
                                                    El dado no es válido.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group" pattern="[a-zA-Z]">
                                                <label for=" exampleDataList" class="form-control-label">Bolas de helado
                                                    min</label>
                                                <input class="form-control " type="number" placeholder="minimo" min="1"
                                                    required value="1">
                                                <div class="valid-feedback">

                                                </div>
                                                <div class="invalid-feedback">
                                                    El dado no es válido.
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3">
                                            <div class="form-group" pattern="[a-zA-Z]">
                                                <label class="form-control-label">Bolas de helado Máx.</label>
                                                <input class="form-control " type="number" placeholder="minimo" required
                                                    min="1" value="1">
                                                <div class="valid-feedback">

                                                </div>
                                                <div class="invalid-feedback">
                                                    El dado no es válido.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card mt-4">
                                    <div class="card-body">
                                        <div class="row">
                                            <h5 class="font-weight-bolder">Insumos</h5>
                                            <div class="col-12">
                                                {{>productos_tabla }}
                                            </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>

        </div>
    </main>

    <div>
        {{>fixed_plugin}}
    </div>







    {{>link_js}}

    <script>
        if (document.getElementById('edit-deschiption-edit')) {
            var quill = new Quill('#edit-deschiption-edit', {
                theme: 'snow' // Specify theme in configuration
            });
        };

        if (document.getElementById('choices-category-edit')) {
            var element = document.getElementById('choices-category-edit');
            const example = new Choices(element, {
                searchEnabled: false
            });
        };

        if (document.getElementById('choices-color-edit')) {
            var element = document.getElementById('choices-color-edit');
            const example = new Choices(element, {
                searchEnabled: false
            });
        };

        if (document.getElementById('choices-currency-edit')) {
            var element = document.getElementById('choices-currency-edit');
            const example = new Choices(element, {
                searchEnabled: false
            });
        };

        if (document.getElementById('choices-tags-edit')) {
            var tags = document.getElementById('choices-tags-edit');
            const examples = new Choices(tags, {
                removeItemButton: true
            });

            examples.setChoices(
                [{
                    value: 'One',
                    label: 'Expired',
                    disabled: true
                },
                {
                    value: 'Two',
                    label: 'Out of Stock',
                    selected: true
                }
                ],
                'value',
                'label',
                false,
            );
        }
    </script>

</body>

<!-- Mirrored from demos.creative-tim.com/argon-dashboard-pro/pages/ecommerce/products/edit-product.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 02 Apr 2024 23:41:36 GMT -->

</html>