<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link rel="stylesheet" href="./public/css/bootstrap.min.css"> --}}

      <!--iconos  -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


    <title>Document</title>
</head>
<body>
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
               
                <!-- <h1 class="h1">Categories of The Month</h1> -->
            </div>
        </div>
        <style>
            .movimientos:hover {
                width: 252px;
            }

            .estilo {
                border: none;
                width: 300px;
                height: 70px;
                border-radius: 5px;
                font-family: century gothic;
                background-color: #fff;
                border-top: 0.5px solid #0707070e;
                box-shadow: 3px 3px 3px rgba(36, 36, 36, 0.116);


            }

            .estilo:focus {
                outline: none;
            }

            .estilo:hover {
                box-shadow: 5px 5px 5px rgba(36, 36, 36, 0.267);

            }
        </style>
        <div class="row d-flex  justify-content-center">
            <div class="col-12 col-md-4 p-5 mt-3  text-center">
                <a class="estilo btn pt-3 " href="shop-single">
                    <span class="me-4"><img src="./assets/img/salpicon.png" alt=""></span>
                    
                    Salpicones
                </a>

            </div>
            <div class="col-12 col-md-4 p-5 mt-3  text-center">
                <a class="estilo btn pt-3"href="shop-single">
                    <span class="me-4"><img src="./assets/img/helado.png" width="40px" alt=""></span>
                    Copas
                </a>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3  text-center">
                <a class="estilo btn pt-3" href="shop-single">
                    <span class="me-4"><img src="./assets/img/sencillo.png" width="40px" alt=""></span>
                    Helados sencillos
                </a>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3 text-center">
                <a class="estilo btn pt-3" href="shop-single">
                    <span class="me-4"><img src="./assets/img/niños.png" width="40px" alt=""></span>
                    Infantil
                </a>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3 text-center">
                <a class="estilo btn pt-3" href="shop-single">
                    <span class="me-4"><img src="./assets/img/jugo.png" width="40px" alt=""></span>
                    Refrezcos
                </a>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3 text-center">
                <a class="estilo btn pt-3" href="shop-single">
                    <span class="me-4"><img src="./assets/img/personalizado.png" width="40px" alt=""></span>
                    Personalizados
                </a>
            </div>
        </div>
    </section>


</body>
</html>