
    <div class="container-fluid py-0">
      <div class="row mb-lg-0">
        <div class="col-lg-12 mx-auto">
          <div class="card my-0 overflow-scroll">
            <div class="card-header p-3 pb-0">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex "> 
                 <div class="col-lg-8">
                   <h6>Detalle de venta</h6>
                  <p class="text-sm mb-0">
                    Orden no. <b>1002</b> fecha <b>23.02.2024</b>
                  </p>
                  <p class="text-sm">
                    Codigo: <b>KF332</b>
                  </p>
                </div>
                <div class="col-lg-4 justify-content-between align-items-center">
                  <a href="javascript:;" class="btn  btn-outline-danger  btn-sm mb-0 ">Generar PDF</a>

                </div>
              </div>
            </div>
            <div class="card-body p-3 pt-0">
              <hr class="horizontal dark mt-4 mb-4">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                  <h6 class="mb-3">Proceso de orden</h6>
                  <div class="timeline timeline-one-side">
                    <div class="timeline-block mb-3">
                      <span class="timeline-step">
                        <i class="ni ni-bell-55 text-secondary"></i>
                      </span>
                      <div class="timeline-content">
                        <p class="text-dark text-sm font-weight-bold mb-0">Orden generada</p>
                        <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">22 DIC 7:20 AM</p>
                      </div>
                    </div>
                    <div class="timeline-block mb-3">
                      <span class="timeline-step">
                        <i class="ni ni-html5 text-secondary"></i>
                      </span>
                      <div class="timeline-content">
                        <h6 class="text-dark text-sm font-weight-bold mb-0">Generar id orden #0002</h6>
                        <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"></p>
                      </div>
                    </div>
                    <div class="timeline-block mb-3">
                      <span class="timeline-step">
                        <i class="ni ni-cart text-secondary"></i>
                      </span>
                      <div class="timeline-content">
                        <h6 class="text-dark text-sm font-weight-bold mb-0">Order transmitada al carrito</h6>
                        <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"></p>
                      </div>
                    </div>
                    <div class="timeline-block mb-3">
                      <span class="timeline-step">
                        <i class="ni ni-check-bold text-success text-gradient"></i>
                      </span>
                      <div class="timeline-content">
                        <h6 class="text-dark text-sm font-weight-bold mb-0">Orden recibida</h6>
                        <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"></p>
                      </div>
                    </div>
                  </div>
                </div>
                {{!-- <div class="col-lg-5 col-md-6 col-12">
                  <h6 class="mb-3">Payment details</h6>
                  <ul class="list-group">
                    <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                      <div class="d-flex flex-column">
                        <h6 class="mb-3 text-sm">Oliver Liam</h6>
                        <span class="mb-2 text-xs">Company Name: <span class="text-dark font-weight-bold ms-2">Viking
                            Burrito</span></span>
                        <span class="mb-2 text-xs">Email Address: <span class="text-dark ms-2 font-weight-bold"><a
                              href="https://demos.creative-tim.com/cdn-cgi/l/email-protection" class="__cf_email__"
                              data-cfemail="dbb4b7b2adbea99bb9aea9a9b2afb4f5b8b4b6">[email&#160;protected]</a></span></span>
                        <span class="text-xs">VAT Number: <span
                            class="text-dark ms-2 font-weight-bold">FRB1235476</span></span>
                      </div>
                    </li>
                  </ul>
                </div> --}}

                <div class="  col-lg-7 col-12 ms-auto ">
                <div class="d-flex justify-content-center">
                   <h6 class="mb-3">Cuenta de Orden</h6>
                </div> 
                    
                 
                  <div class="d-flex justify-content-between">
                     <span class="mb-2 text-sm">
                      1
                    </span>

                    <span class="mb-2 text-sm">
                      Copa Queso
                    </span>
                    <span class="mb-2 text-sm">
                      $12.000
                    </span>
                    {{!-- <span class="text-dark font-weight-bold ms-2">$90</span> --}}
                  </div>
                  <div class="d-flex justify-content-between">
                    <span class="mb-2 text-sm">
                      2
                    </span>
                    <span class="mb-2 text-sm">
                      Salpicón mediano
                    </span>
                    <span class="mb-2 text-sm font-weight-bold">
                      $14.000
                    </span>
                  </div>
                  <div class="d-flex justify-content-between mt-4">
                    <span class="mb-2 text-lg">
                      Total:
                    </span>
                    <span class="text-dark text-lg ms-2 font-weight-bold">$26.000</span>
                  </div>
                 </div>
                </div>
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </div>
     
    </div>