<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Custom Accordion</title>
  <link rel="stylesheet" href="./css/css_tabla.css">
    <link rel="stylesheet" href="./css/argon.min5438.css?v=1.2.0" type="text/css">
      <link rel="canonical" href="https://www.creative-tim.com/product/argon-dashboard" />
</head>
<body>
  <div class="container">
    <div class="accordion">
      <div class="accordion-item">
        <p class="accordion-header">
          <button class="accordion-button collapsed" type="button">
            Salpicón Especial <span></span>
          </button>
        </p>
        <div class="accordion-content">
          <p>We're not always in the position that we want to be at. We're constantly growing. We're constantly making mistakes. We're constantly trying to express ourselves and actualize our dreams. If you have the opportunity to play this game of life you need to appreciate every moment. A lot of people don't appreciate the moment until it's passed.</p>
        </div>
      </div>
      <div class="accordion-item">
        <p class="accordion-header">
          <button class="accordion-button collapsed" type="button">
            Copa Queso
            
          </button>
         
        </p>
        <div class="accordion-content">
          <p>It really matters and then like it really doesn't matter. What matters is the people who are sparked by it. And the people who are like offended by it, it doesn't matter. Because it's about motivating the doers. Because I'm here to follow my dreams and inspire other people to follow their dreams, too.  <br>
          We're not always in the position that we want to be at. We're constantly growing. We're constantly making mistakes. We're constantly trying to express ourselves and actualize our dreams. If you have the opportunity to play this game of life you need to appreciate every moment. A lot of people don't appreciate the moment until it's passed.</p>
        </div>
      </div>
    </div>
  </div>
  <script src="./js/partials.js"></script>
</body>
</html>
