<!DOCTYPE html>
<html lang="en">

<head>

    <title>Document</title>
</head>
<style>
    .tamanio {
        height: 300px;
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: center;


    }

    @media (max-width:795px) {}
</style>

<body>
    <div class="container py-4 contenedor-main-sabores">
        <div class="row text-center py-3">
            <di class="col-lg-6 m-auto">
                <h1 class="h1">SABORES DE HELADOS</h1>
                <div class="mb-4">
                    <p>
                        Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident.
                    </p>
                 </div>   
                <span>
                    <img  src="./assets/img/logo_colombina.png" alt="" width="200px">
                </span>
                
                    
                


        </div>


    </div>
    <div class="row" id="sabor"></div>

    </div>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>