<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
  {{>link_css}}
</head>

<body class="g-sidenav-show   bg-gray-100">


  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>

  <div class="min-height-300 bg-primary position-absolute w-100"></div>
  <aside
    class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 "
    id="sidenav-main">
    {{>nav_home}}
  </aside>
  <main class="main-content position-relative border-radius-lg ">
    <nav class="navbar navbar-main navbar-expand-lg  px-0 mx-2 shadow-none border-radius-xl z-index-sticky "
      id="navbarBlur" data-scroll="false">
      <div class="container-fluid py-1 px-3">

        <div class="sidenav-toggler sidenav-toggler-inner d-xl-block d-none ">
          <a href="javascript:;" class="nav-link p-0">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line bg-white"></i>
              <i class="sidenav-toggler-line bg-white"></i>
              <i class="sidenav-toggler-line bg-white"></i>
            </div>
          </a>
        </div>
        {{!-- <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">

          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line bg-white"></i>
                  <i class="sidenav-toggler-line bg-white"></i>
                  <i class="sidenav-toggler-line bg-white"></i>
                </div>
              </a>
            </li>
            <li class="nav-item px-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0">
                <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
              </a>
            </li>
            <li class="nav-item dropdown pe-2 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0" id="dropdownMenuButton" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fa fa-bell cursor-pointer"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-end px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="javascript:;">
                    <div class="d-flex py-1">
                      <div class="my-auto">
                        <img src="../../../assets/img/team-2.jpg" class="avatar avatar-sm  me-3 " alt="user image">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold">New message</span> from Laur
                        </h6>
                        <p class="text-xs text-secondary mb-0">
                          <i class="fa fa-clock me-1"></i>
                          13 minutes ago
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="javascript:;">
                    <div class="d-flex py-1">
                      <div class="my-auto">
                        <img
                          src="https://demos.creative-tim.com/argon-dashboard-pro/assets/img/small-logos/logo-spotify.svg"
                          class="avatar avatar-sm bg-gradient-dark  me-3 " alt="logo spotify">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold">New album</span> by Travis Scott
                        </h6>
                        <p class="text-xs text-secondary mb-0">
                          <i class="fa fa-clock me-1"></i>
                          1 day
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item border-radius-md" href="javascript:;">
                    <div class="d-flex py-1">
                      <div class="avatar avatar-sm bg-gradient-secondary  me-3  my-auto">
                        <svg width="12px" height="12px" viewBox="0 0 43 36" version="1.1"
                          xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <title>credit-card</title>
                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(-2169.000000, -745.000000)" fill="#FFFFFF" fill-rule="nonzero">
                              <g transform="translate(1716.000000, 291.000000)">
                                <g transform="translate(453.000000, 454.000000)">
                                  <path class="color-background"
                                    d="M43,10.7482083 L43,3.58333333 C43,1.60354167 41.3964583,0 39.4166667,0 L3.58333333,0 C1.60354167,0 0,1.60354167 0,3.58333333 L0,10.7482083 L43,10.7482083 Z"
                                    opacity="0.593633743"></path>
                                  <path class="color-background"
                                    d="M0,16.125 L0,32.25 C0,34.2297917 1.60354167,35.8333333 3.58333333,35.8333333 L39.4166667,35.8333333 C41.3964583,35.8333333 43,34.2297917 43,32.25 L43,16.125 L0,16.125 Z M19.7083333,26.875 L7.16666667,26.875 L7.16666667,23.2916667 L19.7083333,23.2916667 L19.7083333,26.875 Z M35.8333333,26.875 L28.6666667,26.875 L28.6666667,23.2916667 L35.8333333,23.2916667 L35.8333333,26.875 Z">
                                  </path>
                                </g>
                              </g>
                            </g>
                          </g>
                        </svg>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          Payment successfully completed
                        </h6>
                        <p class="text-xs text-secondary mb-0">
                          <i class="fa fa-clock me-1"></i>
                          2 days
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div> --}}
      </div>
    </nav>

    <div class="container-fluid py-4">
      <div class="row">

        <div class="col-12">
          <div class="card">

            <div class="card-body px-0 pb-0">
              <div class="col-12 mb-0">
                {{>nav_order}}
              </div>
              <div class="table-responsive">
                <table class="table table-flush" id="datatable-search">
                  <thead class="thead-light">
                    <tr>
                      <th>Id</th>
                      <th>Fecha</th>
                      <th>Estado</th>
                      <th>Cliente</th>
                      <th>Total a pagar</th>
                      <th>Controles</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="d-flex align-items-center">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="customCheck1">
                          </div>
                          <p class="text-xs font-weight-bold ms-2 mb-0">#10421</p>
                        </div>
                      </td>
                      <td class="font-weight-bold">
                        <span class="my-2 text-xs">1 Nov, 10:20 AM</span>
                      </td>
                      <td class="text-xs font-weight-bold">
                        <div class="d-flex align-items-center">
                          <button
                            class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-2 btn-sm d-flex align-items-center justify-content-center"><i
                              class="fas fa-check" aria-hidden="true"></i></button>
                          <span>Finalizado</span>
                        </div>
                      </td>
                      <td class="text-xs font-weight-bold">
                        <div class="d-flex align-items-center">
                          <span>Orlando Imieto</span>
                        </div>
                      </td>
                      <td class="text-xs font-weight-bold">
                        <span class="my-2 text-xs">$15.000</span>
                      </td>
                      <td class="text-xs font-weight-bold col-12 ">
                        <div class="row d-flex">
                          <div class="col-4 d-flex  justify-content-center align-items-center">
                            <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#detalle"
                              data-bs-original-title="Ver detalle">
                              <i class="fas fa-eye text-secondary"></i>
                            </a>
                            <a href="newOrder" class="mx-3" data-bs-toggle="tooltip" data-bs-original-title="Editar">
                              <i class="fas fa-user-edit text-secondary"></i>
                            </a>
                            <a href="javascript:;" class="me-2" data-bs-toggle="tooltip"
                              data-bs-original-title="Convertir en una venta">
                              <i class="bi bi-piggy-bank" style="font-size: 1.3rem; color: rgb(252, 92, 191);"></i>
                            </a>
                          </div>
                          <div class="col-8">
                            <select class="form-select form-select-sm" aria-label="Default select example">
                              <option selected>Estado</option>
                              <option value="1">En Lista</option>
                              <option value="2">En proceso</option>
                              <option value="3">Terminado</option>
                              <option value="4">Cancelado</option>
                            </select>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex align-items-center">
                          <div class="form-check pt-0">
                            <input class="form-check-input" type="checkbox" id="customCheck2">
                          </div>
                          <p class="text-xs font-weight-bold ms-2 mb-0">#10422</p>
                        </div>
                      </td>
                      <td class="font-weight-bold">
                        <span class="my-2 text-xs">1 Nov, 10:53 AM</span>
                      </td>
                      <td class="text-xs font-weight-bold">
                        <div class="d-flex align-items-center">
                          <button
                            class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-2 btn-sm d-flex align-items-center justify-content-center"><i
                              class="fas fa-check" aria-hidden="true"></i></button>
                          <span>Finalizado</span>
                        </div>
                      </td>
                      <td class="text-xs font-weight-bold">
                        <div class="d-flex align-items-center">
                          <span>Alice Murinho</span>
                        </div>
                      </td>
                      <td class="font-weight-bold">
                        <span class="my-2 text-xs">$ 2.500</span>
                      </td>
                      <td class="text-xs font-weight-bold col-12 ">
                        <div class="row d-flex">
                          <div class="col-4 d-flex  justify-content-center align-items-center">
                            <a href="javascript:;" data-bs-toggle="detalle" data-bs-original-title="Ver detalle">
                              <i class="fas fa-eye text-secondary"></i>
                            </a>
                            <a href="newOrder" class="mx-3" data-bs-toggle="tooltip" data-bs-original-title="Editar">
                              <i class="fas fa-user-edit text-secondary"></i>
                            </a>
                            <a href="javascript:;" class="me-2" data-bs-toggle="tooltip"
                              data-bs-original-title="Convertir en una venta">
                              <i class="bi bi-piggy-bank" style="font-size: 1.3rem; color: rgb(252, 92, 191);"></i>
                            </a>


                          </div>
                          <div class="col-8">
                            <select class="form-select form-select-sm" aria-label="Default select example">
                              <option selected>Estado</option>
                              <option value="1">En Lista</option>
                              <option value="2">En proceso</option>
                              <option value="3">Terminado</option>
                              <option value="4">Cancelado</option>
                            </select>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex align-items-center">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="customCheck3">
                          </div>
                          <p class="text-xs font-weight-bold ms-2 mb-0">#10423</p>
                        </div>
                      </td>
                      <td class="font-weight-bold">
                        <span class="my-2 text-xs">1 Nov, 11:13 AM</span>
                      </td>
                      <td class="text-xs font-weight-bold">
                        <div class="d-flex align-items-center">
                          <div class="mb-0 me-2  d-flex align-items-center justify-content-center">
                            <i class="bi bi-clock-history" aria-hidden="true"
                              style="font-size: 1.6rem; color: rgb(248, 232, 12);"></i>
                          </div>
                          <span>Proceso</span>
                        </div>

              </div>
              </td>
              <td class="text-xs font-weight-bold">
                <div class="d-flex align-items-center">
                  <span>Michael Mirra</span>
                </div>
              </td>
              <td class="text-xs font-weight-bold">
                <span class="my-2 text-xs">
                  $ 12.200
                  <span class="text-secondary ms-2"> 20 min </span>
                </span>
              </td>
              <td class="text-xs font-weight-bold col-12 ">
                <div class="row d-flex">
                  <div class="col-4 d-flex  justify-content-center align-items-center">
                    <a href="javascript:;" data-bs-toggle="detalle" data-bs-original-title="Ver detalle">
                      <i class="fas fa-eye text-secondary"></i>
                    </a>
                    <a href="newOrder" class="mx-3" data-bs-toggle="tooltip" data-bs-original-title="Editar">
                      <i class="fas fa-user-edit text-secondary"></i>
                    </a>
                    <a href="javascript:;" class="me-2" data-bs-toggle="tooltip"
                      data-bs-original-title="Convertir en una venta">
                      <i class="bi bi-piggy-bank" style="font-size: 1.3rem; color: rgb(252, 92, 191);"></i>
                    </a>


                  </div>
                  <div class="col-8">
                    <select class="form-select form-select-sm" aria-label="Default select example">
                      <option selected>Estado</option>
                      <option value="1">En Lista</option>
                      <option value="2">En proceso</option>
                      <option value="3">Terminado</option>
                      <option value="4">Cancelado</option>
                    </select>
                  </div>
                </div>
              </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="customCheck4">
                    </div>
                    <p class="text-xs font-weight-bold ms-2 mb-0">#10424</p>
                  </div>
                </td>
                <td class="font-weight-bold">
                  <span class="my-2 text-xs">1 Nov, 12:20 PM</span>
                </td>
                <td class="text-xs font-weight-bold">
                  <div class="d-flex align-items-center">
                    <button
                      class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-2 btn-sm d-flex align-items-center justify-content-center"><i
                        class="fas fa-check" aria-hidden="true"></i></button>
                    <span>Paid</span>
                  </div>
                </td>
                <td class="text-xs font-weight-bold">
                  <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center">
                      <span>Andrew Nichel</span>
                    </div>
                  </div>
                </td>
                <td class="text-xs font-weight-bold">
                  <span class="my-2 text-xs">
                    $3.000
                  </span>
                </td>
                <td class="text-xs font-weight-bold col-12 ">
                  <div class="row d-flex">
                    <div class="col-4 d-flex  justify-content-center align-items-center">
                      <a href="javascript:;" data-bs-toggle="detalle" data-bs-original-title="Ver detalle">
                        <i class="fas fa-eye text-secondary"></i>
                      </a>
                      <a href="newOrder" class="mx-3" data-bs-toggle="tooltip" data-bs-original-title="Editar">
                        <i class="fas fa-user-edit text-secondary"></i>
                      </a>
                      <a href="javascript:;" class="me-2" data-bs-toggle="tooltip"
                        data-bs-original-title="Convertir en una venta">
                        <i class="bi bi-piggy-bank" style="font-size: 1.3rem; color: rgb(252, 92, 191);"></i>
                      </a>


                    </div>
                    <div class="col-8">
                      <select class="form-select form-select-sm" aria-label="Default select example">
                        <option selected>Estado</option>
                        <option value="1">En Lista</option>
                        <option value="2">En proceso</option>
                        <option value="3">Terminado</option>
                        <option value="4">Cancelado</option>
                      </select>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="customCheck5">
                    </div>
                    <p class="text-xs font-weight-bold ms-2 mb-0">#10425</p>
                  </div>
                </td>
                <td class="font-weight-bold">
                  <span class="my-2 text-xs">1 Nov, 1:40 PM</span>
                </td>
                <td class="text-xs font-weight-bold">
                  <div class="d-flex align-items-center">
                    <button
                      class="btn btn-icon-only btn-rounded btn-outline-danger mb-0 me-2 btn-sm d-flex align-items-center justify-content-center"><i
                        class="fas fa-times" aria-hidden="true"></i></button>
                    <span>Canceled</span>
                  </div>
                </td>
                <td class="text-xs font-weight-bold">
                  <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center">
                      <span>Sebastian Koga</span>
                    </div>
                  </div>
                </td>
                <td class="text-xs font-weight-bold">
                  <span class="my-2 text-xs">
                    $0.0
                    <span class="text-secondary ms-2"> tiempo</span>
                  </span>
                </td>
                <td class="text-xs font-weight-bold col-12 ">
                  <div class="row d-flex">
                    <div class="col-4 d-flex  justify-content-center align-items-center">
                      <a href="javascript:;" data-bs-toggle="detalle" data-bs-original-title="Ver detalle">
                        <i class="fas fa-eye text-secondary"></i>
                      </a>
                      <a href="newOrder" class="mx-3" data-bs-toggle="tooltip" data-bs-original-title="Editar">
                        <i class="fas fa-user-edit text-secondary"></i>
                      </a>
                      <a href="javascript:;" class="me-2" data-bs-toggle="tooltip"
                        data-bs-original-title="Convertir en una venta">
                        <i class="bi bi-piggy-bank" style="font-size: 1.3rem; color: rgb(252, 92, 191);"></i>
                      </a>


                    </div>
                    <div class="col-8">
                      <select class="form-select form-select-sm" aria-label="Default select example">
                        <option selected>Estado</option>
                        <option value="1">En Lista</option>
                        <option value="2">En proceso</option>
                        <option value="3">Terminado</option>
                        <option value="4">Cancelado</option>
                      </select>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
  </main>


  {{!-- MODAL VER DETALLE --}}
  <div class="modal fade" id="detalle" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content  modal-dialog-centered">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
        </div>
        <div class="modal-body">
          <div class="col-12">
            {{>order_details}}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>



  {{!-- MODAL EDITAR --}}
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>



  {{>fixed_plugin}}

  {{>link_js}}
  {{!-- links propios --}}
  <script src="./assets/js/plugins/datatables.js"></script>

  <script>
    const dataTableSearch = new simpleDatatables.DataTable("#datatable-search", {
      searchable: true,
      fixedHeight: false,
      perPageSelect: false
    });

    document.querySelectorAll(".export").forEach(function (el) {
      el.addEventListener("click", function (e) {
        var type = el.dataset.type;

        var data = {
          type: type,
          filename: "soft-ui-" + type,
        };

        if (type === "csv") {
          data.columnDelimiter = "|";
        }

        dataTableSearch.export(data);
      });
    });
  </script>
</body>
</html>